/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 2rem;
	background-color: #F5F5F5;
}

div.row {
	height:75px;
}

div.container {
	display: inline;
}

div.col-lg-5 {
	float: left;
	padding-top: 20px;
}

div.col-lg-4 {
	float:left;
	padding-top:20px;
}

div.col-lg-3 {
	float: left;
	padding-top:20px;
	text-align: center;
}

span.navbar-text {
	text-align: right;
}

ul.flashes {
	color: black;
	list-style-type: none;
	font-size: 24px;
	text-align: center;
	font-family: "Garamond";
	vertical-align: bottom;
	margin-top:30px;
}

p.js_variable {
	color: black;
	list-style-type: none;
	font-size: 100px;
	text-align: center;
	font-family: "Arial";
	vertical-align: top;
	margin-top:50px;
}

canvas {
	margin-top:50px;
}

p.verdict {
	color: black;
	list-style-type: none;
	font-size: 24px;
	text-align: center;
	font-family: "Garamond";
	vertical-align: bottom;
	margin-top:10px;
}

